@font-face {
  font-family: heading;
  src: url(./assets/Metropolis-ExtraBold.otf);
}

@font-face {
  font-family: text;
  src: url(./assets/Poppins-Light.ttf);
}

html::-webkit-scrollbar {
  display: none;
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  background-image: linear-gradient(to top, rgb(2, 0, 15) 10%, rgb(10 0 75));
  background-repeat: no-repeat;
  overflow: hidden;
}

.container {
  padding: 1rem;
  width: fit-content;
  margin: 10rem auto;
  text-align: center;
  color: #ffffffd6;

  h1 {
    font-family: heading;
    font-size: max(6vw, 4rem);
    text-transform: uppercase;
    white-space: nowrap;
    text-shadow: 0 0 30px black;
    transition: 3s 1s ease-out all;
    opacity: 0;
    transform: translateY(-50px);

    &.active {
      transform: translateY(0);
      opacity: 1;
    }

    span {
      color: #7402ff;
      animation: pulse 3s ease-in-out infinite alternate;
    }
  }

  p {
    font-family: text;
    font-size: 2rem;
    color: #ffffffad;
    line-height: 1;
    margin: 2rem auto 0;
    white-space: nowrap;
    width: 0;
    height: 38px;
    overflow: hidden;
    animation: typewriter 1.6s 5s steps(19) 1 forwards,
    blink 0.8s 5s infinite;
    transform: 3s all;

    @media screen and (max-width: 767px) {
      font-size: 1.5rem;
      height: 28px;
      animation: typewriter-mobile 1.6s 5s steps(19) 1 forwards,
      blink 0.8s 5s infinite;
    }
  }
}

@keyframes pulse {
  from {
    text-shadow: 0 0 5px rgb(77, 32, 255);
  }
  to {
    text-shadow: 0 0 50px rgb(77, 32, 255);
  }
}

@keyframes blink {
  from {
    border-right: 1px solid #ffffffad;
  }
  to {
    border-right: 1px solid transparent;
  }
}

@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 339.24px;
  }
}
@keyframes typewriter-mobile {
  from {
    width: 0;
  }
  to {
    width: 254.63px;
  }
}
